// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin flex-align-center() {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin navbar-collapsed() {
	position: absolute;
	top:100%;
	left: 0;
	background-color: rgba(0,0,0,.6);
	width: 100%;
	height: 100vh;
	visibility: hidden;
	transition: all .2s linear;
	opacity: 0;

	.navbar-collapse {
		position: absolute;
		top:2px;
		left: -100%;
		min-width: 250px;
		height: 100vh;
		background-color: var(--color_1);
		padding: 15px 30px;
		display: block;
		transition: left .2s linear;
	}

	&.show {
		.navbar-collapse {
			left:0;
		}
		visibility: visible;
		opacity: 1;
	}
}
@mixin navbar-responsive() {
	border-bottom: solid 2px var(--color_2);
	position: sticky;
}