button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: var(--color_1);
	border-radius: 3px;
	background: var(--color_1);
	color: var(--background_color);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		color: var(--color_1);
		border-color: var(--color1);
		background: var(--background_color);
	}

	&:active,
	&:focus {
		color: var(--color_1);
		border-color: var(--color1);
		background: var(--background_color);
	}
}
