input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--text_color_1);
	border-radius: 3px;
	padding:3px 10px;

	&:focus {
		
	}

	&.danger {
		border: solid 1px red;
	}

	&.success {
		border: solid 1px green;
	}
}

select {
	
}

textarea {
	width: 100%;
}

.form-group {
	margin-bottom: 10px;
}
