html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	font-family: var(--font-text);
	background: var(--background_color); /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: var(--color_1);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

h1,h2,h3,h4,h5,h6 {
	color: var(--text_color_1);
	font-family: var(--font-titles);
}

h1 {
	font-weight: var(--title-weight);
}
h2 {
	font-weight: var(--subtitle-weight);
}

p {
	color: var(--text_color_1);
	font-family: var(--font-text);
	line-height: var(--p-line-height);
}

@import "tables";
