ul, ol {
	font-family: var(--font-text);
	li {
		list-style-type: none;
	}
}

ul {
	list-style: disc;
	color: var(--text_color_1);
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
