/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
---------------------------------------------------------
# Normalize
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Landing
--------------------------------------------------------------*/
:root {
  --background_color: #FFFFFF;
  --background_color_2: #F8F9FA;
  --color_1: #07B57A;
  --color_2: #006744;
  --text_color_1:#212529;
  --text_color_2:#555555;
  --decoration-color: #8F70CB; }

:root {
  --font-text: 'Roboto', sans-serif;
  --font-titles: 'Roboto Condensed', sans-serif;
  --p-line-height: 1.9;
  --title-weight:900;
  --subtitle-weight:700; }

:root {
  --box-shadow: 0 12px 24px 8px rgba(36,37,38,0.08);
  --border-radius: 12px; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  background-color: var(--bacground_color);
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  font-family: var(--font-text);
  background: var(--background_color);
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: var(--color_1);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  font-family: var(--font-text); }
  ul li, ol li {
    list-style-type: none; }

ul {
  list-style: disc;
  color: var(--text_color_1); }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

h1, h2, h3, h4, h5, h6 {
  color: var(--text_color_1);
  font-family: var(--font-titles); }

h1 {
  font-weight: var(--title-weight); }

h2 {
  font-weight: var(--subtitle-weight); }

p {
  color: var(--text_color_1);
  font-family: var(--font-text);
  line-height: var(--p-line-height); }

table {
  margin: 0 0 1.5em;
  width: 100%;
  font-family: var(--font-text); }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: var(--color_1);
  border-radius: 3px;
  background: var(--color_1);
  color: var(--background_color);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    color: var(--color_1);
    border-color: var(--color1);
    background: var(--background_color); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    color: var(--color_1);
    border-color: var(--color1);
    background: var(--background_color); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: var(--text_color_1);
  border-radius: 3px;
  padding: 3px 10px; }
  input[type="text"].danger,
  input[type="email"].danger,
  input[type="url"].danger,
  input[type="password"].danger,
  input[type="search"].danger,
  input[type="number"].danger,
  input[type="tel"].danger,
  input[type="range"].danger,
  input[type="date"].danger,
  input[type="month"].danger,
  input[type="week"].danger,
  input[type="time"].danger,
  input[type="datetime"].danger,
  input[type="datetime-local"].danger,
  input[type="color"].danger,
  textarea.danger {
    border: solid 1px red; }
  input[type="text"].success,
  input[type="email"].success,
  input[type="url"].success,
  input[type="password"].success,
  input[type="search"].success,
  input[type="number"].success,
  input[type="tel"].success,
  input[type="range"].success,
  input[type="date"].success,
  input[type="month"].success,
  input[type="week"].success,
  input[type="time"].success,
  input[type="datetime"].success,
  input[type="datetime-local"].success,
  input[type="color"].success,
  textarea.success {
    border: solid 1px green; }

textarea {
  width: 100%; }

.form-group {
  margin-bottom: 10px; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: var(--text_color_1); }
  a:visited {
    color: var(--text_color_1); }
  a:hover, a:focus, a:active {
    color: var(--text_color_1); }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Landing
--------------------------------------------------------------*/
/* landing basics */
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: var(--color_2); }

.text-center {
  text-align: center; }

.main-baranda {
  width: 100%;
  max-width: 1200px; }
  .main-baranda .section-baranda {
    padding: 4rem 0; }
    .main-baranda .section-baranda .form-baranda {
      max-width: 550px;
      margin: 0 auto;
      border: solid 1px var(--text_color_1);
      padding: 2rem; }
      .main-baranda .section-baranda .form-baranda .form-group {
        margin-bottom: 25px; }
  .main-baranda .text-log {
    visibility: hidden;
    opacity: 0;
    font-weight: bold; }
    .main-baranda .text-log.show {
      visibility: visible;
      opacity: 1; }

@media (max-width: 767px) {
  .feature-box {
    height: auto; } }
.btn.btn-individual {
  position: relative;
  background-color: var(--background_1);
  width: 100%;
  max-width: 370px;
  border-radius: 0;
  border: 2px solid var(--color_1);
  text-transform: uppercase;
  font-family: var(--font-titles);
  font-weight: bold;
  overflow: hidden;
  margin: 0 auto;
  display: table; }
  .btn.btn-individual:before {
    content: "";
    transform: skew(35deg, 0deg);
    position: absolute;
    top: -30%;
    left: 130%;
    height: 150%;
    width: 100%;
    background-color: var(--color_1);
    transition: all .3s linear; }
  .btn.btn-individual:after {
    content: "";
    transform: skew(35deg, 0deg);
    position: absolute;
    top: -30%;
    right: 130%;
    height: 150%;
    width: 100%;
    background-color: var(--color_1);
    transition: all .3s linear; }
  .btn.btn-individual:hover.btn.btn-individual:after {
    right: 30%; }
  .btn.btn-individual:hover.btn.btn-individual:before {
    left: 30%; }
  .btn.btn-individual .button-text {
    color: var(--color_1);
    position: relative;
    z-index: 2;
    transition: color .3s linear; }
  .btn.btn-individual:hover .button-text {
    color: var(--background_1); }

.btn-material-1 {
  min-width: 180px;
  background-color: var(--color_2);
  color: var(--background_color);
  text-transform: capitalize;
  font-size: 1.2em; }
  .btn-material-1:hover {
    border: solid 1px var(--color_2);
    color: var(--color_2); }

.material-1-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color_2);
  color: var(--background_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.navbar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100; }
  .navbar .navbar-toggler {
    padding: 5px !important; }
    .navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
      background-color: transparent; }
    .navbar .navbar-toggler .icon-toggler {
      width: 100%;
      max-width: 60px;
      height: auto;
      fill: #fff;
      stroke: #fff;
      stroke-width: 6;
      stroke-linecap: round;
      stroke-linejoin: round; }
    .navbar .navbar-toggler:not(.collapsed) .icon-toggler #top-line-1 {
      d: path("M 35 35 L 65 65"); }
    .navbar .navbar-toggler:not(.collapsed) .icon-toggler #bottom-line-1 {
      d: path("M 35 65 L 65 35"); }
    .navbar .navbar-toggler:not(.collapsed) .icon-toggler #middle-line-1 {
      opacity: 0; }

@media (max-width: 1200px) {
  .navbar-expand-xl {
    border-bottom: solid 2px var(--color_2);
    position: sticky; }
    .navbar-expand-xl .collapse-container {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100vh;
      visibility: hidden;
      transition: all .2s linear;
      opacity: 0; }
      .navbar-expand-xl .collapse-container .navbar-collapse {
        position: absolute;
        top: 2px;
        left: -100%;
        min-width: 250px;
        height: 100vh;
        background-color: var(--color_1);
        padding: 15px 30px;
        display: block;
        transition: left .2s linear; }
      .navbar-expand-xl .collapse-container.show {
        visibility: visible;
        opacity: 1; }
        .navbar-expand-xl .collapse-container.show .navbar-collapse {
          left: 0; } }
@media (max-width: 991px) {
  .navbar-expand-lg {
    border-bottom: solid 2px var(--color_2);
    position: sticky; }
    .navbar-expand-lg .collapse-container {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100vh;
      visibility: hidden;
      transition: all .2s linear;
      opacity: 0; }
      .navbar-expand-lg .collapse-container .navbar-collapse {
        position: absolute;
        top: 2px;
        left: -100%;
        min-width: 250px;
        height: 100vh;
        background-color: var(--color_1);
        padding: 15px 30px;
        display: block;
        transition: left .2s linear; }
      .navbar-expand-lg .collapse-container.show {
        visibility: visible;
        opacity: 1; }
        .navbar-expand-lg .collapse-container.show .navbar-collapse {
          left: 0; } }
@media (max-width: 767px) {
  .navbar-expand-md {
    border-bottom: solid 2px var(--color_2);
    position: sticky; }
    .navbar-expand-md .collapse-container {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100vh;
      visibility: hidden;
      transition: all .2s linear;
      opacity: 0; }
      .navbar-expand-md .collapse-container .navbar-collapse {
        position: absolute;
        top: 2px;
        left: -100%;
        min-width: 250px;
        height: 100vh;
        background-color: var(--color_1);
        padding: 15px 30px;
        display: block;
        transition: left .2s linear; }
      .navbar-expand-md .collapse-container.show {
        visibility: visible;
        opacity: 1; }
        .navbar-expand-md .collapse-container.show .navbar-collapse {
          left: 0; } }
@media (max-width: 576px) {
  .navbar-expand-sm {
    border-bottom: solid 2px var(--color_2);
    position: sticky; }
    .navbar-expand-sm .collapse-container {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100vh;
      visibility: hidden;
      transition: all .2s linear;
      opacity: 0; }
      .navbar-expand-sm .collapse-container .navbar-collapse {
        position: absolute;
        top: 2px;
        left: -100%;
        min-width: 250px;
        height: 100vh;
        background-color: var(--color_1);
        padding: 15px 30px;
        display: block;
        transition: left .2s linear; }
      .navbar-expand-sm .collapse-container.show {
        visibility: visible;
        opacity: 1; }
        .navbar-expand-sm .collapse-container.show .navbar-collapse {
          left: 0; } }

/*# sourceMappingURL=style.css.map */
