$background_color: #000000;
$color_1: #BCFF00;
$text_color_1:#FFFFFF;
$text_color_2:#707070;

:root {
 	--background_color: #FFFFFF;
 	--background_color_2: #F8F9FA;
	--color_1: #07B57A;
	--color_2: #006744;
	--text_color_1:#212529;
	--text_color_2:#555555;
	--decoration-color: #8F70CB;
}