.btn.btn-individual {
  position: relative;
  background-color: var(--background_1);
  width: 100%;
  max-width: 370px;
  border-radius: 0;
  border: 2px solid var(--color_1);
  text-transform: uppercase;
  font-family: var(--font-titles);
  font-weight: bold;
  overflow: hidden;
  margin: 0 auto;
  display: table;

  &:before {
    content: "";
    transform: skew(35deg, 0deg);
    position: absolute;
    top: -30%;
    left: 130%;
    height: 150%;
    width: 100%;
    background-color: var(--color_1);
    transition: all .3s linear;
  }

  &:after {
    content: "";
    transform: skew(35deg, 0deg);
    position: absolute;
    top: -30%;
    right: 130%;
    height: 150%;
    width: 100%;
    background-color: var(--color_1);
    transition: all .3s linear;
  }

  &:hover.btn.btn-individual {
    &:after {
      right: 30%;
    }

    &:before {
      left: 30%;
    }
  }

  .button-text {
    color: var(--color_1);
    position: relative;
    z-index: 2;
    transition: color .3s linear;
  }

  &:hover .button-text {
    color: var(--background_1);
  }
}

.btn-material-1 {
  min-width: 180px;
  background-color: var(--color_2);
  color: var(--background_color);
  text-transform: capitalize;
  font-size: 1.2em;
  
  &:hover {
      border: solid 1px var(--color_2);
      color: var(--color_2);
  }
}