/* landing basics */

	::-webkit-scrollbar{width:10px}::-webkit-scrollbar-thumb{background-color:var(--color_2)}

	.text-center {
		text-align: center;
	}

	.main-baranda {
		width: 100%;
		max-width: 1200px;

		.section-baranda {
			padding: 4rem 0;

			.form-baranda {
				max-width: 550px;
				margin: 0 auto;
				border: solid 1px var(--text_color_1);
				padding: 2rem;

				.form-group {
					margin-bottom: 25px;
				}
			}
		}

		.text-log {
			visibility: hidden;
			opacity: 0;
			font-weight: bold;
			&.show {
				visibility: visible;
				opacity: 1;
			}
		}
	}

@media (max-width: 767px) { 
	.feature-box {
		height: auto;
	}
}

@import "buttons";
@import "icons";
@import "menu";