.navbar {
	position: relative;
	top:0;
	left:0;
	z-index: 100;
	

	.navbar-toggler {
		padding:5px!Important;

		&:hover,&:focus,&:active {
			background-color: transparent;
		}

		.icon-toggler {
			width: 100%;
			max-width: 60px;
			height: auto;
			fill: #fff;
		    stroke: #fff;
		    stroke-width: 6;
		    stroke-linecap: round;
		    stroke-linejoin: round;

	    	.icon-toggler-line {
	    		
	    	}
		    	
		}
		&:not(.collapsed) {
			.icon-toggler {
				#top-line-1 { d: path("M 35 35 L 65 65"); }
				#bottom-line-1 { d: path("M 35 65 L 65 35"); }
				#middle-line-1 { opacity: 0; }
			}
		}
	}
	
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 
	.navbar-expand-xl {
		@include navbar-responsive();
		.collapse-container {
			@include navbar-collapsed();
		}
	}
}

// Large devices (desktops, 992px and up)
@media (max-width: 991px) { 
	.navbar-expand-lg {
		@include navbar-responsive();
		.collapse-container {
			@include navbar-collapsed();
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) { 
	.navbar-expand-md {
		@include navbar-responsive();
		.collapse-container {
			@include navbar-collapsed();
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
	.navbar-expand-sm {
		@include navbar-responsive();
		.collapse-container {
			@include navbar-collapsed();
		}
	}
	
}
