a {
	color: var(--text_color_1);

	&:visited {
		color: var(--text_color_1);
	}
	&:hover,
	&:focus,
	&:active {
		color: var(--text_color_1);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
